<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.boot.mapper.BootMapper">
    <select id="findById" parameterType="hashmap" resultType="hashmap">
        SELECT
            ID,
            NAME
        FROM
            PRODUCT
        WHERE
            ID= #{id}
    </select>
    <insert id="registerProduct" parameterType="hashmap">
        INSERT INTO PRODUCT (ID, NAME)
        VALUES (#{id}, #{name})
    </insert>
</mapper>